#### Capstone 3 - Housing Affordability and Debt in America

In [1]:
#import pandas, matplotlib, and numpy

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
#load data csv files

debt = pd.read_csv('Data/Debt_In_America_by_County_Sep2023.csv')
home = pd.read_csv('Data/Zillow_Home_Value_Index_ZHVI_by_County_Jan2023_to_Sep2023.csv')
rent = pd.read_csv('Data/Zillow_Observed_Rent_Index_ZORI_by_County_Jan2023_to_Sep2023.csv')

In [3]:
debt.head()

,StateFIPS,CountyFIPS,CombinedFIPS,County Name,State Name,"Share with any debt in collections, All","Median debt in collections, All","Share with medical debt in collections, All","Share of student loan holders with student loan debt in default, All","Auto/retail loan delinquency rate, All","Credit card debt delinquency rate, All",Share of people of color,"Average household income, All","Average household income, Comm of color","Average household income, White comm"
0,1,1,1001,"Autauga County, Alabama",Alabama,0.299721,1847.5,0.127577,0.102113,0.063422,0.046967,0.269029,79497.56,59924.12,86069.90
1,1,3,1003,"Baldwin County, Alabama",Alabama,0.235373,1985.5,0.096570,0.095191,0.042843,0.030129,0.178245,87234.06,65210.40,90904.80
2,1,5,1005,"Barbour County, Alabama",Alabama,0.350785,1705.5,0.106021,0.101266,0.086817,0.053050,0.553902,55066.45,36577.48,73941.90
3,1,7,1007,"Bibb County, Alabama",Alabama,0.417460,1444.0,0.222222,0.060606,0.104869,0.070000,0.259504,67395.92,46330.31,73267.97
4,1,9,1009,"Blount County, Alabama",Alabama,0.301641,1790.0,0.139785,0.137143,0.040788,0.049779,0.140768,71848.80,56594.48,73629.93

In [4]:
home.head()

,SizeRank,RegionName,State,Metro,StateFIPS,CountyFIPS,1/31/23,2/28/23,3/31/23,4/30/23,5/31/23,6/30/23,7/31/23,8/31/23,9/30/23
0,0,Los Angeles County,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,821242.741172,809771.934361,798850.697690,794995.450197,797207.595000,803503.732566,813903.557266,826811.908041,839780.328951
1,1,Cook County,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,279775.162247,279405.017697,279727.799914,281175.034995,282702.836685,284417.957941,286321.765242,288618.967790,290539.190184
2,2,Harris County,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,280561.789892,278962.267728,277810.413585,277241.447932,277264.124421,277922.424900,278705.849581,279517.195775,279853.296741
3,3,Maricopa County,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,461785.739170,455694.900206,452409.120809,451379.630780,452147.348464,454099.982215,456847.226011,459823.101562,462334.960502
4,4,San Diego County,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,849344.740159,844153.147200,842332.828485,845497.899143,852278.907339,861774.630570,873182.847040,885118.607013,896653.069164

In [5]:
rent.head()

,SizeRank,RegionName,State,Metro,StateFIPS,CountyFIPS,1/31/23,2/28/23,3/31/23,4/30/23,5/31/23,6/30/23,7/31/23,8/31/23,9/30/23
0,0,Los Angeles County,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,2897.693634,2905.550139,2912.287701,2917.706705,2917.104632,2916.971619,2914.294793,2911.225417,2908.309023
1,1,Cook County,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,1943.317768,1952.720446,1959.675519,1964.764746,1971.530842,1979.225083,1985.342588,1993.531651,1999.910585
2,2,Harris County,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,1615.472149,1622.433120,1628.898206,1630.881753,1632.751065,1632.211525,1631.435464,1629.569504,1631.418857
3,3,Maricopa County,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,1916.651217,1923.535856,1927.895142,1929.747515,1926.409004,1920.357721,1915.197306,1912.914783,1912.732354
4,4,San Diego County,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,3108.025460,3123.128376,3139.646473,3148.861124,3157.712431,3159.999611,3161.474020,3158.805542,3158.803095

In [6]:
#Merge dataframes on 'StateFIPS' and 'CountyFIPS'

# Merge 'debt' and 'home' first
merged_df = debt.merge(home, on=['StateFIPS', 'CountyFIPS'], how='inner', suffixes=('', '_home'))

# Then, merge the resulting dataframe with 'rent'
merged_df = merged_df.merge(rent, on=['StateFIPS', 'CountyFIPS'], how='inner', suffixes=('', '_rent'))

In [7]:
merged_df.head()

,StateFIPS,CountyFIPS,CombinedFIPS,County Name,State Name,"Share with any debt in collections, All","Median debt in collections, All","Share with medical debt in collections, All","Share of student loan holders with student loan debt in default, All","Auto/retail loan delinquency rate, All",...,Metro_rent,1/31/23_rent,2/28/23_rent,3/31/23_rent,4/30/23_rent,5/31/23_rent,6/30/23_rent,7/31/23_rent,8/31/23_rent,9/30/23_rent
0,1,1,1001,"Autauga County, Alabama",Alabama,0.299721,1847.5,0.127577,0.102113,0.063422,...,"Montgomery, AL",1438.511827,1456.640599,1462.376617,1465.164310,1488.286308,1496.217938,1510.470039,1493.109806,1508.845238
1,1,3,1003,"Baldwin County, Alabama",Alabama,0.235373,1985.5,0.096570,0.095191,0.042843,...,"Daphne-Fairhope-Foley, AL",1772.176742,1773.788233,1786.876480,1784.603319,1779.073641,1769.460171,1743.636004,1728.243628,1724.313436
2,1,15,1015,"Calhoun County, Alabama",Alabama,0.394346,1934.0,0.218584,0.094340,0.093685,...,"Anniston-Oxford, AL",NaN,NaN,NaN,995.981725,991.439164,969.644625,929.864567,917.182723,909.796537
3,1,21,1021,"Chilton County, Alabama",Alabama,0.384719,1932.0,0.226542,0.100000,0.092383,...,"Birmingham-Hoover, AL",1369.574684,1364.600622,1361.170660,1366.009216,1369.837282,1348.191078,1333.715146,1302.329004,1309.888889
4,1,31,1031,"Coffee County, Alabama",Alabama,0.301768,1931.0,0.143308,0.099502,0.053748,...,"Enterprise, AL",1291.627849,1281.861430,1291.973923,1308.118577,1329.963416,1331.670776,1350.865574,1362.008602,1376.504630

In [8]:
merged_df.columns

Index(['StateFIPS', 'CountyFIPS', 'CombinedFIPS', 'County Name', 'State Name',
       'Share with any debt in collections, All',
       'Median debt in collections, All',
       'Share with medical debt in collections, All',
       'Share of student loan holders with student loan debt in default, All',
       'Auto/retail loan delinquency rate, All',
       'Credit card debt delinquency rate, All', 'Share of people of color',
       'Average household income, All',
       'Average household income, Comm of color',
       'Average household income, White comm', 'SizeRank', 'RegionName',
       'State', 'Metro', '1/31/23', '2/28/23', '3/31/23', '4/30/23', '5/31/23',
       '6/30/23', '7/31/23', '8/31/23', '9/30/23', 'SizeRank_rent',
       'RegionName_rent', 'State_rent', 'Metro_rent', '1/31/23_rent',
       '2/28/23_rent', '3/31/23_rent', '4/30/23_rent', '5/31/23_rent',
       '6/30/23_rent', '7/31/23_rent', '8/31/23_rent', '9/30/23_rent'],
      dtype='object')

In [9]:
merged_df.isnull().sum()

StateFIPS                                                                 0
CountyFIPS                                                                0
CombinedFIPS                                                              0
County Name                                                               0
State Name                                                                0
Share with any debt in collections, All                                   0
Median debt in collections, All                                           3
Share with medical debt in collections, All                               0
Share of student loan holders with student loan debt in default, All      7
Auto/retail loan delinquency rate, All                                    0
Credit card debt delinquency rate, All                                    0
Share of people of color                                                  0
Average household income, All                                             0
Average household income, Comm of color                                   0
Average household income, White comm                                      0
SizeRank                                                                  0
RegionName                                                                0
State                                                                     0
Metro                                                                    39
1/31/23                                                                   0
2/28/23                                                                   0
3/31/23                                                                   0
4/30/23                                                                   0
5/31/23                                                                   0
6/30/23                                                                   0
7/31/23                                                                   0
8/31/23                                                                   0
9/30/23                                                                   0
SizeRank_rent                                                             0
RegionName_rent                                                           0
State_rent                                                                0
Metro_rent                                                               39
1/31/23_rent                                                            272
2/28/23_rent                                                            261
3/31/23_rent                                                            234
4/30/23_rent                                                            205
5/31/23_rent                                                            160
6/30/23_rent                                                            130
7/31/23_rent                                                            115
8/31/23_rent                                                             85
9/30/23_rent                                                              0
dtype: int64

In [10]:
# Create new columns 'Average Home Value' and 'Average Zillow Rent Estimate' that are the averages of monthly columns
merged_df['Average Zillow Home Estimate'] = merged_df[['1/31/23', '2/28/23', '3/31/23', '4/30/23','5/31/23','6/30/23','7/31/23','8/31/23','9/30/23']].mean(axis=1)
merged_df['Average Zillow Rent Estimate'] = merged_df[['1/31/23_rent', '2/28/23_rent', '3/31/23_rent', '4/30/23_rent','5/31/23_rent','6/30/23_rent','7/31/23_rent','8/31/23_rent','9/30/23_rent']].mean(axis=1)
print(merged_df)

      StateFIPS  CountyFIPS  CombinedFIPS                 County Name  \
0             1           1          1001     Autauga County, Alabama
1             1           3          1003     Baldwin County, Alabama
2             1          15          1015     Calhoun County, Alabama
3             1          21          1021     Chilton County, Alabama
4             1          31          1031      Coffee County, Alabama
...         ...         ...           ...                         ...
1053         56          25         56025     Natrona County, Wyoming
1054         56          29         56029        Park County, Wyoming
1055         56          35         56035    Sublette County, Wyoming
1056         56          37         56037  Sweetwater County, Wyoming
1057         56          39         56039       Teton County, Wyoming

     State Name  Share with any debt in collections, All  \
0       Alabama                                 0.299721
1       Alabama                                 0.235373
2       Alabama                                 0.394346
3       Alabama                                 0.384719
4       Alabama                                 0.301768
...         ...                                      ...
1053    Wyoming                                 0.298371
1054    Wyoming                                 0.188375
1055    Wyoming                                 0.171004
1056    Wyoming                                 0.278917
1057    Wyoming                                 0.140606

      Median debt in collections, All  \
0                              1847.5
1                              1985.5
2                              1934.0
3                              1932.0
4                              1931.0
...                               ...
1053                           3112.0
1054                           2891.0
1055                              NaN
1056                           1686.0
1057                           1756.5

      Share with medical debt in collections, All  \
0                                        0.127577
1                                        0.096570
2                                        0.218584
3                                        0.226542
4                                        0.143308
...                                           ...
1053                                     0.221692
1054                                     0.133477
1055                                     0.126394
1056                                     0.201805
1057                                     0.095758

      Share of student loan holders with student loan debt in default, All  \
0                                              0.102113
1                                              0.095191
2                                              0.094340
3                                              0.100000
4                                              0.099502
...                                                 ...
1053                                           0.091216
1054                                           0.040000
1055                                                NaN
1056                                           0.086667
1057                                           0.086957

      Auto/retail loan delinquency rate, All  ...  2/28/23_rent  3/31/23_rent  \
0                                   0.063422  ...   1456.640599   1462.376617
1                                   0.042843  ...   1773.788233   1786.876480
2                                   0.093685  ...           NaN           NaN
3                                   0.092383  ...   1364.600622   1361.170660
4                                   0.053748  ...   1281.861430   1291.973923
...                                      ...  ...           ...           ...
1053                                0.037609  ...   1141.722903   1157.782900
1054                                0.023102  ...           NaN           NaN
1055                                0.007937  ...           NaN           NaN
1056                                0.042735  ...   1229.119763   1232.374321
1057                                0.004098  ...           NaN           NaN

      4/30/23_rent  5/31/23_rent  6/30/23_rent  7/31/23_rent 8/31/23_rent  \
0      1465.164310   1488.286308   1496.217938   1510.470039  1493.109806
1      1784.603319   1779.073641   1769.460171   1743.636004  1728.243628
2       995.981725    991.439164    969.644625    929.864567   917.182723
3      1366.009216   1369.837282   1348.191078   1333.715146  1302.329004
4      1308.118577   1329.963416   1331.670776   1350.865574  1362.008602
...            ...           ...           ...           ...          ...
1053   1171.003276   1190.684700   1191.278012   1205.243698  1218.783460
1054           NaN   1349.420523   1321.028283   1294.533491  1245.022948
1055           NaN           NaN           NaN           NaN          NaN
1056   1241.862240   1255.252447   1254.351104   1242.348082  1234.261186
1057           NaN           NaN           NaN   6688.380655  6593.076943

     9/30/23_rent Average Zillow Home Estimate  Average Zillow Rent Estimate
0     1508.845238                 2.313047e+05                   1479.958076
1     1724.313436                 3.715796e+05                   1762.463517
2      909.796537                 1.563046e+05                    952.318224
3     1309.888889                 2.102955e+05                   1347.257398
4     1376.504630                 1.861696e+05                   1324.954975
...           ...                          ...                           ...
1053  1236.561328                 2.741782e+05                   1183.515386
1054  1266.111111                 4.318995e+05                   1295.223271
1055  1625.000000                 3.942777e+05                   1625.000000
1056  1230.333333                 2.659100e+05                   1239.538588
1057  6908.333333                 2.145785e+06                   6729.930311

[1058 rows x 43 columns]

In [11]:
# Drop the monthly columns
merged_df = merged_df.drop(columns=['1/31/23', '2/28/23', '3/31/23', '4/30/23','5/31/23','6/30/23','7/31/23','8/31/23','9/30/23','1/31/23_rent', '2/28/23_rent', '3/31/23_rent', '4/30/23_rent','5/31/23_rent','6/30/23_rent','7/31/23_rent','8/31/23_rent','9/30/23_rent'])
merged_df.head()

,StateFIPS,CountyFIPS,CombinedFIPS,County Name,State Name,"Share with any debt in collections, All","Median debt in collections, All","Share with medical debt in collections, All","Share of student loan holders with student loan debt in default, All","Auto/retail loan delinquency rate, All",...,SizeRank,RegionName,State,Metro,SizeRank_rent,RegionName_rent,State_rent,Metro_rent,Average Zillow Home Estimate,Average Zillow Rent Estimate
0,1,1,1001,"Autauga County, Alabama",Alabama,0.299721,1847.5,0.127577,0.102113,0.063422,...,904,Autauga County,AL,"Montgomery, AL",904,Autauga County,AL,"Montgomery, AL",231304.697742,1479.958076
1,1,3,1003,"Baldwin County, Alabama",Alabama,0.235373,1985.5,0.096570,0.095191,0.042843,...,302,Baldwin County,AL,"Daphne-Fairhope-Foley, AL",302,Baldwin County,AL,"Daphne-Fairhope-Foley, AL",371579.601230,1762.463517
2,1,15,1015,"Calhoun County, Alabama",Alabama,0.394346,1934.0,0.218584,0.094340,0.093685,...,543,Calhoun County,AL,"Anniston-Oxford, AL",543,Calhoun County,AL,"Anniston-Oxford, AL",156304.588517,952.318224
3,1,21,1021,"Chilton County, Alabama",Alabama,0.384719,1932.0,0.226542,0.100000,0.092383,...,1090,Chilton County,AL,"Birmingham-Hoover, AL",1090,Chilton County,AL,"Birmingham-Hoover, AL",210295.483134,1347.257398
4,1,31,1031,"Coffee County, Alabama",Alabama,0.301768,1931.0,0.143308,0.099502,0.053748,...,961,Coffee County,AL,"Enterprise, AL",961,Coffee County,AL,"Enterprise, AL",186169.583927,1324.954975

In [12]:
merged_df.isnull().sum()

StateFIPS                                                                0
CountyFIPS                                                               0
CombinedFIPS                                                             0
County Name                                                              0
State Name                                                               0
Share with any debt in collections, All                                  0
Median debt in collections, All                                          3
Share with medical debt in collections, All                              0
Share of student loan holders with student loan debt in default, All     7
Auto/retail loan delinquency rate, All                                   0
Credit card debt delinquency rate, All                                   0
Share of people of color                                                 0
Average household income, All                                            0
Average household income, Comm of color                                  0
Average household income, White comm                                     0
SizeRank                                                                 0
RegionName                                                               0
State                                                                    0
Metro                                                                   39
SizeRank_rent                                                            0
RegionName_rent                                                          0
State_rent                                                               0
Metro_rent                                                              39
Average Zillow Home Estimate                                             0
Average Zillow Rent Estimate                                             0
dtype: int64

In [13]:
merged_df.shape

(1058, 25)

In [14]:
# Drop 'FIPS' columns since only needed for merging
# Drop redundant columns

merged_df = merged_df.drop(columns=['StateFIPS','CountyFIPS','CombinedFIPS','County Name','SizeRank','RegionName','State','Metro','SizeRank_rent','Metro_rent'])

In [15]:
merged_df.shape

(1058, 15)

In [16]:
merged_df.isnull().sum()

State Name                                                              0
Share with any debt in collections, All                                 0
Median debt in collections, All                                         3
Share with medical debt in collections, All                             0
Share of student loan holders with student loan debt in default, All    7
Auto/retail loan delinquency rate, All                                  0
Credit card debt delinquency rate, All                                  0
Share of people of color                                                0
Average household income, All                                           0
Average household income, Comm of color                                 0
Average household income, White comm                                    0
RegionName_rent                                                         0
State_rent                                                              0
Average Zillow Home Estimate                                            0
Average Zillow Rent Estimate                                            0
dtype: int64

In [17]:
# Drop the last few rows with missing values
merged_df.dropna()

,State Name,"Share with any debt in collections, All","Median debt in collections, All","Share with medical debt in collections, All","Share of student loan holders with student loan debt in default, All","Auto/retail loan delinquency rate, All","Credit card debt delinquency rate, All",Share of people of color,"Average household income, All","Average household income, Comm of color","Average household income, White comm",RegionName_rent,State_rent,Average Zillow Home Estimate,Average Zillow Rent Estimate
0,Alabama,0.299721,1847.5,0.127577,0.102113,0.063422,0.046967,0.269029,79497.56,59924.12,86069.90,Autauga County,AL,2.313047e+05,1479.958076
1,Alabama,0.235373,1985.5,0.096570,0.095191,0.042843,0.030129,0.178245,87234.06,65210.40,90904.80,Baldwin County,AL,3.715796e+05,1762.463517
2,Alabama,0.394346,1934.0,0.218584,0.094340,0.093685,0.054162,0.297511,59139.94,56666.07,59995.13,Calhoun County,AL,1.563046e+05,952.318224
3,Alabama,0.384719,1932.0,0.226542,0.100000,0.092383,0.049296,0.207325,68497.17,51239.07,72539.36,Chilton County,AL,2.102955e+05,1347.257398
4,Alabama,0.301768,1931.0,0.143308,0.099502,0.053748,0.036559,0.308580,74955.32,56965.50,81701.66,Coffee County,AL,1.861696e+05,1324.954975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052,Wyoming,0.258413,2833.0,0.176289,0.079832,0.038515,0.028114,0.248357,78248.80,58683.81,82870.69,Laramie County,WY,3.559920e+05,1268.633371
1053,Wyoming,0.298371,3112.0,0.221692,0.091216,0.037609,0.030423,0.141795,82565.96,53878.49,87515.88,Natrona County,WY,2.741782e+05,1183.515386
1054,Wyoming,0.188375,2891.0,0.133477,0.040000,0.023102,0.021672,0.095874,80540.37,48334.45,83093.46,Park County,WY,4.318995e+05,1295.223271
1056,Wyoming,0.278917,1686.0,0.201805,0.086667,0.042735,0.048023,0.217057,92327.29,79781.30,95115.95,Sweetwater County,WY,2.659100e+05,1239.538588
1057,Wyoming,0.140606,1756.5,0.095758,0.086957,0.004098,0.009983,0.200738,159027.30,117234.50,165639.80,Teton County,WY,2.145785e+06,6729.930311

In [18]:
# Rename Columns
merged_df = merged_df.rename(columns={
    'RegionName_rent': 'County',
    'State_rent': 'State',
    'Share with any debt in collections, All':'TotalDebt%',
    'Median debt in collections, All':'MedianDebtCollections',
    'Share with medical debt in collections, All':'MedicalDebt%',
    'Share of student loan holders with student loan debt in default, All':'StudentLoanDefault%',
    'Auto/retail loan delinquency rate, All':'AutoRetailLoanDelinquency%',
    'Credit card debt delinquency rate, All':'CreditCardDelinquency%',
    'Share of people of color':'PeopleOfColor%',
    'Average household income, All':'AverageHouseholdIncome',
    'Average household income, Comm of color':'AverageHouseholdIncomePOC',
    'Average household income, White comm':'AverageHouseholdIncomeWhite'
    
})

In [19]:
merged_df.head()

,State Name,TotalDebt%,MedianDebtCollections,MedicalDebt%,StudentLoanDefault%,AutoRetailLoanDelinquency%,CreditCardDelinquency%,PeopleOfColor%,AverageHouseholdIncome,AverageHouseholdIncomePOC,AverageHouseholdIncomeWhite,County,State,Average Zillow Home Estimate,Average Zillow Rent Estimate
0,Alabama,0.299721,1847.5,0.127577,0.102113,0.063422,0.046967,0.269029,79497.56,59924.12,86069.90,Autauga County,AL,231304.697742,1479.958076
1,Alabama,0.235373,1985.5,0.096570,0.095191,0.042843,0.030129,0.178245,87234.06,65210.40,90904.80,Baldwin County,AL,371579.601230,1762.463517
2,Alabama,0.394346,1934.0,0.218584,0.094340,0.093685,0.054162,0.297511,59139.94,56666.07,59995.13,Calhoun County,AL,156304.588517,952.318224
3,Alabama,0.384719,1932.0,0.226542,0.100000,0.092383,0.049296,0.207325,68497.17,51239.07,72539.36,Chilton County,AL,210295.483134,1347.257398
4,Alabama,0.301768,1931.0,0.143308,0.099502,0.053748,0.036559,0.308580,74955.32,56965.50,81701.66,Coffee County,AL,186169.583927,1324.954975

In [20]:
#Move 'County' and 'State' to columns 1 and 2

# Define the new column order
cols = ['County', 'State'] + [col for col in merged_df.columns if col not in ['County', 'State']]

# Reorder the columns
merged_df = merged_df[cols]

merged_df.columns

Index(['County', 'State', 'State Name', 'TotalDebt%', 'MedianDebtCollections',
       'MedicalDebt%', 'StudentLoanDefault%', 'AutoRetailLoanDelinquency%',
       'CreditCardDelinquency%', 'PeopleOfColor%', 'AverageHouseholdIncome',
       'AverageHouseholdIncomePOC', 'AverageHouseholdIncomeWhite',
       'Average Zillow Home Estimate', 'Average Zillow Rent Estimate'],
      dtype='object')

In [21]:
print(merged_df.dtypes)

County                           object
State                            object
State Name                       object
TotalDebt%                      float64
MedianDebtCollections           float64
MedicalDebt%                    float64
StudentLoanDefault%             float64
AutoRetailLoanDelinquency%      float64
CreditCardDelinquency%          float64
PeopleOfColor%                  float64
AverageHouseholdIncome          float64
AverageHouseholdIncomePOC       float64
AverageHouseholdIncomeWhite     float64
Average Zillow Home Estimate    float64
Average Zillow Rent Estimate    float64
dtype: object

In [22]:
merged_df.head()

,County,State,State Name,TotalDebt%,MedianDebtCollections,MedicalDebt%,StudentLoanDefault%,AutoRetailLoanDelinquency%,CreditCardDelinquency%,PeopleOfColor%,AverageHouseholdIncome,AverageHouseholdIncomePOC,AverageHouseholdIncomeWhite,Average Zillow Home Estimate,Average Zillow Rent Estimate
0,Autauga County,AL,Alabama,0.299721,1847.5,0.127577,0.102113,0.063422,0.046967,0.269029,79497.56,59924.12,86069.90,231304.697742,1479.958076
1,Baldwin County,AL,Alabama,0.235373,1985.5,0.096570,0.095191,0.042843,0.030129,0.178245,87234.06,65210.40,90904.80,371579.601230,1762.463517
2,Calhoun County,AL,Alabama,0.394346,1934.0,0.218584,0.094340,0.093685,0.054162,0.297511,59139.94,56666.07,59995.13,156304.588517,952.318224
3,Chilton County,AL,Alabama,0.384719,1932.0,0.226542,0.100000,0.092383,0.049296,0.207325,68497.17,51239.07,72539.36,210295.483134,1347.257398
4,Coffee County,AL,Alabama,0.301768,1931.0,0.143308,0.099502,0.053748,0.036559,0.308580,74955.32,56965.50,81701.66,186169.583927,1324.954975

In [23]:
# Rounding Values

merged_df = merged_df.round({'TotalDebt%': 3, 'MedianDebtCollections': 0, 'MedicalDebt%': 3,
                             'StudentLoanDefault%': 3, 'AutoRetailLoanDelinquency%':3,
                            'AutoRetailLoanDelinquency%':3, 'CreditCardDelinquency%':3,
                             'PeopleOfColor%':3,'AverageHouseholdIncome':0,
                             'AverageHouseholdIncomePOC':0, 'AverageHouseholdIncomeWhite':0,
                             'Average Zillow Home Estimate':0,'Average Zillow Rent Estimate':0
                            })
merged_df.head()

,County,State,State Name,TotalDebt%,MedianDebtCollections,MedicalDebt%,StudentLoanDefault%,AutoRetailLoanDelinquency%,CreditCardDelinquency%,PeopleOfColor%,AverageHouseholdIncome,AverageHouseholdIncomePOC,AverageHouseholdIncomeWhite,Average Zillow Home Estimate,Average Zillow Rent Estimate
0,Autauga County,AL,Alabama,0.300,1848.0,0.128,0.102,0.063,0.047,0.269,79498.0,59924.0,86070.0,231305.0,1480.0
1,Baldwin County,AL,Alabama,0.235,1986.0,0.097,0.095,0.043,0.030,0.178,87234.0,65210.0,90905.0,371580.0,1762.0
2,Calhoun County,AL,Alabama,0.394,1934.0,0.219,0.094,0.094,0.054,0.298,59140.0,56666.0,59995.0,156305.0,952.0
3,Chilton County,AL,Alabama,0.385,1932.0,0.227,0.100,0.092,0.049,0.207,68497.0,51239.0,72539.0,210295.0,1347.0
4,Coffee County,AL,Alabama,0.302,1931.0,0.143,0.100,0.054,0.037,0.309,74955.0,56966.0,81702.0,186170.0,1325.0

In [24]:
df_clean = merged_df
df_clean.to_csv('Data/data_clean.csv')